@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url(../public/bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: rgb(247, 246, 246);
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    border-radius: .5rem;
    background-color: black;
}